@model IEnumerable<QuizMVC>
@for(var k = 0;k< Model.Count();k++)
{
    <a asp-controller="Home"
       asp-action="Details"
       asp-route-quiz_id="@k"
       asp-route-question_id="0"
       class="alert alert-success mt-2 d-block text-center text-decoration-none"> @Model.ElementAt(k).QuizTitle
       </a>
}
