@model QuizMVC
<h1 class="text-center">@captions.AnswerList</h1>
<h3>@captions.CountCorrect : @Model.CountAsCorrect()</h3>
<div class="text-center">
    <form asp-antiforgery="true" method="post" asp-controller="Home" asp-action="Reset">
        <input type="submit" value="@captions.ResetAnswer" class="btn btn-primary d-inline"/>
    </form>
</div>