html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.app_quiz_select {
    border:1px solid black;
    margin-bottom:10px;
    text-align:center;
    display:block;
    border-radius:10px;
    font-size:20px;
    text-decoration:none;
    background-color:lightgray;
    color:black;
}
    .app_quiz_select:hover {
        color:red;
    }

    .progress_ask
    {
        text-align:center;
        display:block;
        padding:10px;
        font-weight:bold;
    }

.question_item {
    margin-bottom:10px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}